// test styling

.home {
    width: 100%;
    height: auto;
    border: red solid 1px;
    @include flex;
    flex-direction: column;
    
    .home-top {
        width: 100vw;
        height: auto;
        @include flex;
        flex-direction: column;


        .roof {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 6em 4em;
            border-color: transparent transparent $orange;
            margin: 1em 0;
        }
    
        h1 {
            position: absolute;
            margin-right: 1.5em;
            z-index: 1;
          
        }
    
        h1+p {
            position: absolute;
            margin-top: 2.5em;
            margin-left: 1.2em;
            width: 10em;
            background-color: $green;
            opacity: .7;
            padding: .2em 0;
            text-align: center;
            
        }
    }

    ul {
        width: 12.5em;
        list-style: none;

        li {
            height: 2em;
            margin-bottom: 1em;
            padding-top: .5em;
            border: black solid 1px;
            border-radius: 1em;
            text-align: center;
           
            a {
                text-decoration: none;
            }
        }
    }

    .card-element {
        width: 70vw;
        height: auto;
        border: black solid 1x;
        @include flex;
        flex-direction: column;
        margin: 1em;
    }

}