// test styling

.home {
    width: 100%;
    height: auto;
    border: red solid 1px;
    @include flex;
    flex-direction: column;
    
    .home-top {
        width: 100vw;
        height: auto;
        @include flex;
        flex-direction: column;


        .roof {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 40vw 10vh;
            border-color: transparent transparent $orange;
            margin: 1em 0;
        }
    
        h1 {
            position: absolute;
            margin-right: 1.5em;
            z-index: 1;
          
        }
    
        h1+p {
            position: absolute;
            margin-top: 2.5em;
            margin-left: 1.2em;
            width: 10em;
            background-color: $green;
            opacity: .7;
            padding: .2em 0;
            text-align: center;
            
        }
    }

    ul {
        width: 75vw;
        list-style: none;

        li {
            height: 2em;
            margin-bottom: 1em;
            padding-top: .5em;
            border: black solid 1px;
            border-radius: 1em;
            text-align: center;
           
            a {
                text-decoration: none;
            }
        }
    }

    .card-element {
        width: 75vw;
        height: 50vh;
        @include flex;
        justify-content: space-evenly;
        flex-direction: column;
        margin: 1em;
        text-align: center;
        border: 2px solid salmon;
        border-radius: 1em;

        button {
            width: 35vw;
            height: 8vh;
            border-radius: .5em;
            position: relative;
            left: 3em;
            top: 1em;
        }
    }

    .card-top {
        width: 100%;
        @include flex;
        justify-content: space-around;
    }

}